@import "tailwindcss";

body { background-color: #061126; margin: 0; }

.custom-scrollbar::-webkit-scrollbar { width: 4px; }
@media (min-width: 640px) { .custom-scrollbar::-webkit-scrollbar { width: 6px; } }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #1e3a8a40; border-radius: 10px; }
.custom-scrollbar::-webkit-scrollbar-thumb:hover { background: #1e3a8a80; }

/* Xterm Fix */
.xterm-viewport { border-radius: 0 0 12px 12px; }